## assignement 1

# q1

In [1]:
print("hassan shakil \n")

hassan shakil

# q2

In [2]:
name = "hassan shakil"
age = 20 
description = "hi i am a flutter dev"
print("name ",name , " , age ",age ," description : ", description )

name  hassan shakil  , age  20  description :  hi i am a flutter dev

# q3

In [3]:
a=7
b=8
print('ADDITION OF a & b:',a+b)
print('SUBTRACTION OF a & b:',a-b)
print('MULTIPLICATION OF a & b:',a*b)
print('DIVISION OF a & b:',a/b)

ADDITION OF a & b: 15
SUBTRACTION OF a & b: -1
MULTIPLICATION OF a & b: 56
DIVISION OF a & b: 0.875

# q4

In [4]:
english = 83
isl = 85
math = 93
total = 300
print ("Total marks ",(( english + isl + math)/300)*100 )

Total marks  87.0

# Part -2 Python Basics (Conditional Statements)

# Q 1

In [10]:
salary = float(input())  
years_of_service = int(input())  

if years_of_service > 5:  
    print("Congratulations!", 0.05 * salary)  
else:  
    print("Sorry")

Congratulations! 1.1500000000000001

# Q2

In [12]:
age = int(input("Enter your age: "))

if age > 17:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

## q3

In [14]:
num = int(input())  

if num % 2 == 0:  
    print("Even")  
else:  
    print("Odd")

Even

# q4

In [15]:
num = int(input())  

if num % 7 == 0:  
    print("Divisible by 7")  
else:  
    print("Not divisible by 7")

Not divisible by 7

# q5

In [16]:
num = int(input())  

if num % 5 == 0:  
    print("Hello")  
else:  
    print("Bye")

Bye

# q7

In [17]:

num = int(input())  
print(num % 10)

5

# q9

In [18]:
length = int(input())  
breadth = int(input())  

if length == breadth:  
    print("Square")  
else:  
    print("Rectangle")

Square

# q10

In [20]:
a = int(input())  
b = int(input())  

if a > b:  
    print(a)  
else:  
    print(b)

ValueError: invalid literal for int() with base 10: ''

# q11

In [21]:
quantity = int(input())  
totalCost = quantity * 100  

if totalCost > 1000:  
    totalCost *= 0.9  

print(totalCost)

11070.0

# q 12

In [22]:
marks = int(input())  

if marks < 25:  
    print("F")  
elif marks <= 45:  
    print("E")  
elif marks <= 50:  
    print("D")  
elif marks <= 60:  
    print("C")  
elif marks <= 80:  
    print("B")  
else:  
    print("A")

A

# q 14

In [24]:
totalClasses = int(input())  
attendedClasses = int(input())  

attendancePercentage = (attendedClasses / totalClasses) * 100  
print(attendancePercentage)  

if attendancePercentage >= 75:  
    print("Allowed")  
else:  
    print("Not Allowed")

100.0
Allowed

# q 15

In [25]:
totalClasses = int(input())  
attendedClasses = int(input())  

attendancePercentage = (attendedClasses / totalClasses) * 100  
print(attendancePercentage)  

if attendancePercentage >= 75:  
    print("Allowed")  
else:  
    medicalCause = input("Do you have a medical cause? (Y/N): ")  
    if medicalCause.upper() == 'Y':  
        print("Allowed")  
    else:  
        print("Not Allowed")

100.0
Allowed

# q 16

In [26]:
year = int(input())  

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):  
    print("Leap Year")  
else:  
    print("Not a Leap Year")

Leap Year

# q 17

In [27]:
age = int(input())  
gender = input().upper()  
maritalStatus = input().upper()  

if gender == 'F':  
    print("Urban Areas Only")  
elif gender == 'M':  
    if 20 <= age <= 40:  
        print("Anywhere")  
    elif 40 < age <= 60:  
        print("Urban Areas Only")  
    else:  
        print("ERROR")  
else:  
    print("ERROR")

ERROR

# q 6

In [28]:
units = int(input())  
bill = 0  

if units > 300:  
    bill = (units - 300) * 10 + 200 * 5  
elif units > 100:  
    bill = (units - 100) * 5  

print(bill)

30420

# q 13

In [30]:
age1 = int(input())  
age2 = int(input())  
age3 = int(input())  

oldest = max(age1, age2, age3)  
youngest = min(age1, age2, age3)  

print("Oldest:", oldest)  
print("Youngest:", youngest)

Oldest: 2342
Youngest: 242